<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Test Case</title>
</head>
<body>
    <form action="/gentest/{{ id }}" method="post">
        <label for="subiect">Subject:</label>
        <input type="text" id="subiect" name="subiect" required><br><br>

        <label for="input">Input:</label>
        <input type="text" id="input" name="input" required><br><br>

        <label for="expected_output">Expected Output:</label>
        <input type="text" id="expected_output" name="expected_output" required><br><br>

        <label for="punctaj">Score:</label>
        <input type="number" id="punctaj" name="punctaj" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
